:root {
  --title-color: rgba(34, 9, 83, 1);
  --white-color: rgba(255, 255, 255, 1);
  --text-color: rgba(75, 62, 101, 1);
  --text-color-light: rgba(161, 151, 180, 1);
  --first-color-light: rgba(229, 217, 253, 1);
  --container-color: rgba(255, 255, 255, 1);
  --body-color: rgba(245, 240, 255, 1);
  --first-color-dark: rgba(30, 8, 73, 1);
  --d-biggest-font-size-font-family: "Lora-Medium", Helvetica;
  --d-biggest-font-size-font-weight: 500;
  --d-biggest-font-size-font-size: 96px;
  --d-biggest-font-size-letter-spacing: 0px;
  --d-biggest-font-size-line-height: 129.99999523162842%;
  --d-biggest-font-size-font-style: normal;
  --d-normal-font-size-font-family: "Poppins-Regular", Helvetica;
  --d-normal-font-size-font-weight: 400;
  --d-normal-font-size-font-size: 16px;
  --d-normal-font-size-letter-spacing: 0px;
  --d-normal-font-size-line-height: normal;
  --d-normal-font-size-font-style: normal;
  --d-big-font-size-font-family: "Lora-Regular", Helvetica;
  --d-big-font-size-font-weight: 400;
  --d-big-font-size-font-size: 56px;
  --d-big-font-size-letter-spacing: 0px;
  --d-big-font-size-line-height: normal;
  --d-big-font-size-font-style: normal;
  --d-small-font-size-font-family: "Poppins-Regular", Helvetica;
  --d-small-font-size-font-weight: 400;
  --d-small-font-size-font-size: 14px;
  --d-small-font-size-letter-spacing: 0px;
  --d-small-font-size-line-height: normal;
  --d-small-font-size-font-style: normal;
  --d-bigger-font-size-font-family: "Lora-Regular", Helvetica;
  --d-bigger-font-size-font-weight: 400;
  --d-bigger-font-size-font-size: 64px;
  --d-bigger-font-size-letter-spacing: 0px;
  --d-bigger-font-size-line-height: normal;
  --d-bigger-font-size-font-style: normal;
  --m-normal-font-size-font-family: "Poppins-Regular", Helvetica;
  --m-normal-font-size-font-weight: 400;
  --m-normal-font-size-font-size: 15px;
  --m-normal-font-size-letter-spacing: 0px;
  --m-normal-font-size-line-height: normal;
  --m-normal-font-size-font-style: normal;
  --d-smaller-font-size-font-family: "Poppins-Regular", Helvetica;
  --d-smaller-font-size-font-weight: 400;
  --d-smaller-font-size-font-size: 13px;
  --d-smaller-font-size-letter-spacing: 0px;
  --d-smaller-font-size-line-height: normal;
  --d-smaller-font-size-font-style: normal;
  --d-h2-font-size-font-family: "Lora-Regular", Helvetica;
  --d-h2-font-size-font-weight: 400;
  --d-h2-font-size-font-size: 24px;
  --d-h2-font-size-letter-spacing: 0px;
  --d-h2-font-size-line-height: normal;
  --d-h2-font-size-font-style: normal;
}
